/*
.popup {
    position: absolute;
    z-index: 1000;
    left: 4px;
    top: 4px;
    background-color: white;
    padding: 8px;
    border: 1px solid #ddd;
}
*/

.rockstar-btn {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0.42857em 0.85714em;
    -webkit-transition-property: color, background-color, border-color, box-shadow;
    transition-property: color, background-color, border-color, box-shadow;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    border-radius: 4px;
    box-shadow: 0 0 0 0 #a7b5ec;
    font-family: "Whyte", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.71429;
    background-color: #ffffff;
    color: #1662dd;
    border: 1px solid #1662dd;
    box-shadow: 0 0 0 0 #a7b5ec;
    text-align: center;
}

.rockstar-hidden {
    display: none;
}

.rockstar-container {
    margin: 10px 0;
    display: flex;
    gap: 6px;
}

.rockstar-container-end {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    gap: 6px;
}

.rockstar-dropdown {
    /* position: inherit;
    display: inline-block; */
    /* top: 0;
    left: 132px; */
    /* width: auto; */
    display: flex;
    margin: auto;
    white-space: nowrap;
    z-index: 1000;
}

/* .rockstar-dropdown-preview {
    top: 42px;
} */

.rockstar-dropdown-userhome {
    margin-top: 1px;
    left: auto;
    right: 316px;
}

.rockstar-dropdown-userhome-preview {
    margin-top: 8px;
    left: auto;
    right: 316px;
}

@media only screen and (max-width: 1303px) {
    /* .rockstar-dropdown {
        left: 176px;
    } */

    .rockstar-dropdown-userhome {
        left: auto;
        right: 316px;
    }
}

.rockstar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #c1c1c8;
    top: 48px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.rockstar-dropdown-content .rockstar {
    color: black;
    padding: 0.42857em 0.85714em;
    display: block;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px solid #c1c1c8;
}

.rockstar-dropdown-content .rockstar:last-child {
    border-bottom: 0;
}

/* Change color of dropdown links on hover */
.rockstar-dropdown-content .rockstar:hover {
    text-decoration: none;
    background-color: #f5f5f6;
    color: #212126;
}

/* Show the dropdown menu on hover */
.rockstar-dropdown:hover .rockstar-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.rockstar-btn:hover {
    text-decoration: none;
    background-color: #1662dd;
    color: #ffffff;
}

.rockstar-enhanced {
    color: blue !important;
    font-weight: bold !important;
}

.rockstar-desaturate {
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
    -webkit-filter: grayscale(100%); /* New WebKit */
    filter: grayscale(100%); /* Current draft standard */
}

.rockstar-logo-label {
    position: relative;
    font-weight: bold;
    z-index: 1000;
    transform: rotate(26deg);
    font-size: 8pt;
}

.rockstar-preview-label {
    color: #1662dd;
    left: -18px;
    top: -12px;
}

.rockstar-prod-label {
    color: #ac0101;
    left: -14px;
    top: -12px;
}

.rockstar-dev-label {
    color: #00b315;
    left: -12px;
    top: -12px;
}

.rockstar-logo {
    /** Max height on end-user dashboard is 40px **/
    max-height: 32px;
}

.rockstar-input {
    width: 100%;
    margin: 2px;
}

.rockstar-popup {
    position: absolute;
    z-index: 1000;
    top: 0px;
    max-height: calc(100% - 28px);
    max-width: calc(100% - 28px);
    padding: 8px;
    margin: 4px;
    overflow: auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 35%);
}

.rockstar-userlist-table {
    border-collapse: collapse;
}

.rockstar-userlist-table thead th {
    font-weight: bold;
    background-color: #c1c1c8;
    border: 1px solid black;
    padding: 2px;
}

.rockstar-userlist-table tbody td {
    border: 1px solid black;
    padding: 2px;
}

.title {
    font-weight: bold;
}

.title:hover {
    background-color: #e8e8e8;
}

.rs_closed {
    display: none;
}

.rs_toggle {
    right: 20px;
}

.hoverDiv {
    cursor: pointer;
    padding: 5px;
}

.hoverDiv:hover {
    background-color: #f0f0f0;
}

/** Additional styles for Okta grid (may change if UI changes) **/
@media only screen and (min-width: 1304px)
{
    .o-header.rockstar-override {
        grid-template-columns: minmax(304px, 352px) minmax(0, 1fr);
    }
}


@media only screen and (max-width: 1303px) and (min-width: 752px)
{
    .o-header.rockstar-override {
        grid-template-columns: minmax(304px, 352px) minmax(0, 1fr);
    }
}


@media only screen and (max-width: 751px)
{
    .o-header.rockstar-override {
        grid-template-columns: 1fr 0.5fr;
    }
}