/*
.popup {
    position: absolute;
    z-index: 1000;
    left: 4px;
    top: 4px;
    background-color: white;
    padding: 8px;
    border: 1px solid #ddd;
}
*/

.rockstar-btn {
    cursor: pointer;
    margin: 0 auto;
    padding: 0 4px;
    border-radius: 0 0 4px 4px;
    border: 1px solid rgba(0, 0, 0, 75%);
    background-color: #00297a;
    color: rgb(241, 241, 241);
    transition: background-color ease-in-out 150ms;
}

.rockstar-dropdown {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    width: 90px;
    margin: 0 auto;
}

.rockstar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.rockstar-dropdown-content .rockstar {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.rockstar-dropdown-content .rockstar:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.rockstar-dropdown:hover .rockstar-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.rockstar-dropdown:hover .rockstar-btn {
    border-radius: 0;
    background-color: #2258c3;
}

.rockstar-popup {
    position: absolute;
    z-index: 1000;
    top: 0px;
    max-height: calc(100% - 28px);
    max-width: calc(100% - 28px);
    padding: 8px;
    margin: 4px;
    overflow: auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 35%);
}

.title {
    font-weight: bold;
}

.title:hover {
    background-color: #e8e8e8;
}

.rs_closed {
    display: none;
}

.rs_toggle {
    right: 20px;
}

.hoverDiv {
    cursor: pointer;
    padding: 5px;
}

.hoverDiv:hover {
    background-color: #f0f0f0;
}